# Java
*.class
*.jar
*.war
*.ear
*.log
target/
*.iml
.idea/
.settings/
.classpath
.project

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Replit
.replit
.config/
.upm/
.cache/
.breakpoints
replit.nix
